In [7]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from psycopg2.extras import execute_values

In [2]:
import pandas as pd


stores_df = pd.read_csv('stores.csv')


store_ids, unique_names = pd.factorize(stores_df['store_name'])
stores_df['store_id'] = store_ids + 1


store_id_map_df = pd.DataFrame({
    'store_name': unique_names,
    'store_id': range(1, len(unique_names) + 1)  
})
store_id_map_df.to_csv('store_id_mapping.csv', index=False)


if 'store_expense_amount' in stores_df.columns:
    stores_df['store_expense'] = stores_df['store_expense_amount']
    stores_df.drop(columns=['store_expense_amount'], inplace=True)
else:
    stores_df['store_expense'] = 0  


stores_df.to_csv('updated_stores.csv', index=False)

In [3]:
import pandas as pd
import numpy as np


employees_df = pd.read_csv('employees_shifts.csv')
store_id_mapping = pd.read_csv('store_id_mapping.csv')


employees_df = employees_df.merge(store_id_mapping, left_on='Store', right_on='store_name', how='left')


employees_df[['first_name', 'last_name']] = employees_df['Employee Name'].str.split(',', expand=True)


employees_df['employee_id'] = np.arange(1, len(employees_df) + 1)


employees_df['position'] = np.random.choice(['Manager', 'Cashier', 'Clerk'], size=(employees_df.shape[0]))


managers = employees_df[employees_df['position'] == 'Manager']
managers['manager_id'] = range(1, len(managers) + 1)
employees_df = employees_df.merge(managers[['employee_id', 'manager_id']], on='employee_id', how='left')


employees_df['manage_store_id'] = employees_df['store_id']


employees_df['salary'] = np.random.uniform(30000, 60000, size=(employees_df.shape[0])).round(2)


employees_df['date_of_hire'] = pd.to_datetime(employees_df['Date of Hire']).dt.date


employees_df['schedule_id'] = np.arange(1, len(employees_df) + 1)


days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
employees_df['day_of_week'] = np.random.choice(days, size=len(employees_df))
employees_df['shift_start'] = pd.to_datetime(np.random.randint(7, 12, size=len(employees_df)), unit='h')
employees_df['shift_end'] = pd.to_datetime(np.random.randint(13, 22, size=len(employees_df)), unit='h')


employees_df['vacation_id'] = np.arange(1, len(employees_df) + 1)


employees_df['vacation_start'] = pd.to_datetime(np.random.choice(pd.date_range(start='2024-01-01', periods=30), size=len(employees_df)))
employees_df['vacation_end'] = employees_df['vacation_start'] + pd.to_timedelta(np.random.randint(1, 15, size=len(employees_df)), unit='d')


columns_to_keep = [
    'employee_id', 'store_id', 'position', 'salary', 'date_of_hire', 'first_name', 
    'last_name', 'manage_store_id', 'manager_id', 'schedule_id', 'day_of_week',
    'shift_start', 'shift_end', 'vacation_id', 'vacation_start', 'vacation_end'
]
employees_df = employees_df[columns_to_keep]


employees_df.to_csv('employees_final.csv', index=False)

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_27132\288480738.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  managers['manager_id'] = range(1, len(managers) + 1)

In [4]:
import pandas as pd
import numpy as np
from faker import Faker

fake = Faker()

# Load the CSV files
products_df = pd.read_csv('products_vendor_orders.csv')
store_id_mapping_df = pd.read_csv('store_id_mapping.csv')

# Merge the products DataFrame with the store_id mapping DataFrame based on store_name
products_df = products_df.merge(store_id_mapping_df, left_on='Store Name', right_on='store_name', how='left')

# Generating unique product_id for each Product Name
products_df['product_id'] = pd.factorize(products_df['Product Name'])[0] + 1

# Randomly generating category_id
products_df['category_id'] = np.random.randint(1, 10, size=(products_df.shape[0]))

# Calculating price as Price per Unit * Quantity
products_df['price'] = products_df['Price per Unit'] * products_df['Quantity']

# Copying product_id to store_inventory_id
products_df['store_inventory_id'] = products_df['product_id']

# Generating unique batch_id based on Expiration Date
products_df['batch_id'] = pd.factorize(products_df['Expiration Date'])[0] + 1

# Assigning unique vendor_id for each Vendor Name
products_df['vendor_id'] = pd.factorize(products_df['Vendor Name'])[0] + 1

# Creating a new column delivery_id and assigning a unique ID
products_df['delivery_id'] = np.arange(1, len(products_df) + 1)

# Copying delivery_id to purchase_id
products_df['purchase_id'] = products_df['delivery_id']

# Copying Quantity to quantity_received
products_df['quantity_received'] = products_df['Quantity']

# Generating realistic contact_phone numbers using Faker
products_df['contact_phone'] = [fake.phone_number() for _ in range(len(products_df))]

# Renaming and retaining specific columns
products_df.rename(columns={
    'Product Name': 'product_name',
    'Product Description': 'product_description',
    'Vendor Email': 'vendor_email',
    'Vendor Name': 'vendor_name',
    'Category': 'category',
    'Expiration Date': 'expiration_date',
    'Delivery Date': 'delivery_date'
}, inplace=True)

# Save only product_id and product_name for summary
products_summary_df = products_df[['product_id', 'product_name']].drop_duplicates()
products_summary_df.to_csv('products_summary.csv', index=False)

# Also save the fully processed data if needed
final_columns = [
    'product_id', 'product_name', 'price', 'category_id',
    'store_inventory_id', 'store_id', 'batch_id',
    'vendor_id', 'vendor_name', 'delivery_id', 'purchase_id',
    'quantity_received', 'Quantity', 'product_description',
    'vendor_email', 'contact_phone', 'category',
    'expiration_date', 'delivery_date'
]
final_df = products_df[final_columns]
final_df.to_csv('products_final.csv', index=False)

In [4]:
import pandas as pd
import numpy as np
from faker import Faker

fake = Faker()

# Load the necessary CSV files
customers_sales_df = pd.read_csv('customers_sales.csv')
store_id_mapping_df = pd.read_csv('store_id_mapping.csv')
products_summary_df = pd.read_csv('products_summary.csv')

# Merge the dataframes to include necessary ID mappings
customers_sales_df = customers_sales_df.merge(store_id_mapping_df, left_on='Store Name', right_on='store_name', how='left')
customers_sales_df = customers_sales_df.merge(products_summary_df[['product_name', 'product_id']], 
                                              left_on='Product Name', right_on='product_name', how='left')

# Splitting 'Customer Name' into 'FirstName' and 'LastName'
customers_sales_df[['FirstName', 'LastName']] = customers_sales_df['Customer Name'].str.split(' ', n=1, expand=True)

# Generate unique customer_id
customers_sales_df['customer_id'] = pd.factorize(customers_sales_df['Customer Name'])[0] + 1

# Generating realistic contact_phone numbers using Faker
customers_sales_df['Contact_phone'] = [fake.phone_number() for _ in range(len(customers_sales_df))]

# Create unique sale_id based on 'Date of Purchase'
customers_sales_df['sale_id'] = pd.factorize(customers_sales_df['Date of Purchase'])[0] + 1

# Randomly generate other required fields
customers_sales_df['discount_id'] = np.random.randint(1000, 9999, size=len(customers_sales_df))
customers_sales_df['promotion_price'] = np.random.uniform(5, 50, size=len(customers_sales_df)).round(2)
customers_sales_df['start_date'] = [fake.date_between(start_date='-2y', end_date='today') for _ in range(len(customers_sales_df))]
customers_sales_df['end_date'] = [fake.date_between(start_date='today', end_date='+2y') for _ in range(len(customers_sales_df))]

# Generate feedback related fields
customers_sales_df['feedback_id'] = np.random.randint(1000, 9999, size=len(customers_sales_df))
customers_sales_df['feedback_text'] = [fake.sentence() for _ in range(len(customers_sales_df))]
customers_sales_df['feedback_date'] = [fake.date_between(start_date='-1y', end_date='today') for _ in range(len(customers_sales_df))]

# Rename and retain specific columns
customers_sales_df.rename(columns={
    'Customer Email': 'customer_email',
    'Price per Unit': 'price_per_unit',
    'Quantity': 'quantity',
    'Date of Purchase': 'sale_date'  # Ensure this column is correctly named here
}, inplace=True)

# Calculate total_price as quantity * price_per_unit
customers_sales_df['total_price'] = customers_sales_df['quantity'] * customers_sales_df['price_per_unit']

# Selecting relevant columns to save, adjust as necessary
final_columns = [
    'customer_id', 'FirstName', 'LastName', 'customer_email', 'Contact_phone',
    'sale_id', 'product_id', 'quantity', 'sale_date', 'total_price',
    'store_id', 'discount_id', 'promotion_price', 'start_date', 'end_date',
    'feedback_id', 'feedback_text', 'feedback_date'
]

final_df = customers_sales_df[final_columns]
final_df.to_csv('customers_sales_final.csv', index=False)

In [8]:
store_df = pd.read_csv('updated_stores.csv')
employee_df = pd.read_csv('employees_final.csv')
product_df = pd.read_csv('products_final.csv')
customer_df = pd.read_csv('customers_sales_final.csv')

In [11]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/sql_final_5310'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123")

# create a cursor
cur = conn.cursor()

In [12]:
# Execute a statement
print('PostgreSQL database version:')
cur.execute('SELECT version()')

# Display the PostgreSQL database server version
db_version = cur.fetchone()
print(db_version)

PostgreSQL database version:
('PostgreSQL 16.1 (Debian 16.1-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [13]:
stmt = """
DROP TABLE IF EXISTS CustomerFeedback CASCADE;
DROP TABLE IF EXISTS Discounts CASCADE;
DROP TABLE IF EXISTS WholesaleTransactions CASCADE;
DROP TABLE IF EXISTS RetailSales CASCADE;
DROP TABLE IF EXISTS Customers CASCADE;
DROP TABLE IF EXISTS VendorDelivery CASCADE;
DROP TABLE IF EXISTS Vendors CASCADE;
DROP TABLE IF EXISTS Expiration CASCADE;
DROP TABLE IF EXISTS StoreInventory CASCADE;
DROP TABLE IF EXISTS Products CASCADE;
DROP TABLE IF EXISTS Categories CASCADE;
DROP TABLE IF EXISTS EmployeeVacation CASCADE;
DROP TABLE IF EXISTS EmployeeSchedule CASCADE;
DROP TABLE IF EXISTS StoreManager CASCADE;
DROP TABLE IF EXISTS Employees CASCADE;
DROP TABLE IF EXISTS Stores CASCADE;

CREATE TABLE Stores (
    store_id SERIAL PRIMARY KEY,
    store_name VARCHAR(400) NOT NULL,
    store_street VARCHAR(100) NOT NULL,
    store_city VARCHAR(80) NOT NULL,
    store_state VARCHAR(80) NOT NULL,
    store_zipcode VARCHAR(10) NOT NULL,
    store_expense NUMERIC(10,2)
);

CREATE TABLE Employees (
    employee_id SERIAL PRIMARY KEY,
    store_id INT NOT NULL,
    Position VARCHAR(200) NOT NULL,
    salary NUMERIC(10, 2),
    date_of_hire DATE,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    FOREIGN KEY (store_id) REFERENCES Stores(store_id) ON DELETE CASCADE
);

CREATE TABLE StoreManager (
    manage_store_id INT,
    manager_id INT,
    PRIMARY KEY (manage_store_id, manager_id),
    FOREIGN KEY (manage_store_id) REFERENCES Stores(store_id) ON DELETE CASCADE,
    FOREIGN KEY (manager_id) REFERENCES Employees(employee_id) ON DELETE CASCADE
);

CREATE TABLE EmployeeSchedule (
    schedule_id SERIAL PRIMARY KEY,
    employee_id INT NOT NULL,
    day_of_week VARCHAR(10) NOT NULL,
    shift_start TIME,
    shift_end TIME,
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id) ON DELETE CASCADE
);

CREATE TABLE EmployeeVacation (
    vacation_id SERIAL PRIMARY KEY,
    employee_id INT NOT NULL,
    vacation_start DATE,
    vacation_end DATE,
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id) ON DELETE CASCADE
);

CREATE TABLE Categories (
   category_id SERIAL PRIMARY KEY,
   category VARCHAR(100) NOT NULL,
   product_description TEXT
);

CREATE TABLE Products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100) NOT NULL,
    price NUMERIC(10, 2) NOT NULL,
    category_id INT,
    FOREIGN KEY (category_id) REFERENCES Categories(category_id)
);

CREATE TABLE StoreInventory (
   store_inventory_id SERIAL PRIMARY KEY,
   product_id INT,
   store_id INT,
   Quantity INT NOT NULL,
   FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE CASCADE,
   FOREIGN KEY (store_id) REFERENCES Stores(store_id) ON DELETE CASCADE
);

CREATE TABLE Expiration (
   batch_id SERIAL PRIMARY KEY,
   product_id INT,
   expiration_date DATE,
   FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE CASCADE
);

CREATE TABLE Vendor (
    vendor_id SERIAL PRIMARY KEY,
    vendor_name VARCHAR(400) NOT NULL,
    Contact_phone VARCHAR(15),
    vendor_email VARCHAR(100)
);

CREATE TABLE VendorDelivery (
    delivery_id SERIAL PRIMARY KEY,
    vendor_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity_received INT NOT NULL,
    delivery_date DATE,
    FOREIGN KEY (vendor_id) REFERENCES Vendors(vendor_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

CREATE TABLE Customers (
    customer_id SERIAL PRIMARY KEY,
    FirstName VARCHAR(100) NOT NULL,
    LastName VARCHAR(100) NOT NULL,
    customer_email VARCHAR(100),
    Contact_phone VARCHAR(15)
);

CREATE TABLE RetailSales (
    sale_id SERIAL PRIMARY KEY,
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    sale_date DATE,
    total_price NUMERIC(10, 2) NOT NULL,
    store_id INT,
    customer_id INT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (store_id) REFERENCES Stores(store_id)
);

CREATE TABLE WholesaleTransactions (
    purchase_id SERIAL PRIMARY KEY,
    vendor_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity_received INT NOT NULL,
    delivery_date DATE,
    price NUMERIC(10, 2) NOT NULL,
    FOREIGN KEY (vendor_id) REFERENCES Vendors(vendor_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

CREATE TABLE Discounts (
    discount_id SERIAL PRIMARY KEY,
    promotion_price NUMERIC(10, 2) NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    product_id INT NOT NULL,
    FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE CASCADE
);

CREATE TABLE CustomerFeedback (
    feedback_id SERIAL PRIMARY KEY,
    customer_id INT,
    feedback_text TEXT NOT NULL,
    feedback_date DATE,
    store_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (store_id) REFERENCES Stores(store_id)
);
    """

In [14]:
cur.execute(stmt)
conn.commit()

In [8]:
store_df.head()

,store_name,store_street,store_city,store_state,store_zipcode,store_manager,store_open_date,store_parking_capacity,store_expense_date,store_expense_type,store_expense_description,store_id,store_expense
0,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-04-01,rent,April rent payment,1,6500
1,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-03-01,rent,March rent payment,1,6500
2,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-02-01,rent,February rent payment,1,6500
3,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-01-01,rent,January rent payment,1,6500
4,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2023-12-01,rent,December rent payment,1,6000

In [16]:
import psycopg2
from psycopg2.extras import execute_values

# Database connection parameters
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123")
cur = conn.cursor()

# SQL INSERT statement
insert_stmt = """
INSERT INTO Stores (store_id, store_name, store_street, store_city, store_state, store_zipcode, store_expense)
VALUES %s
ON CONFLICT (store_id) DO NOTHING;
"""

# Prepare data from DataFrame for insertion
store_data = list(store_df[['store_id', 'store_name', 'store_street', 'store_city', 'store_state', 'store_zipcode', 'store_expense']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_stmt, store_data)

# Commit the transaction to save changes
conn.commit()
import pandas.io.sql as sqlio

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM Stores LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   store_id                    store_name              store_street  \
0         1          ABC Foodmart - DUMBO            123 Jay Street
1         2        ABC Foodmart - Tribeca       133 Chambers Street
2         3      ABC Foodmart - Bay Ridge              8518 3rd Ave
3         4     ABC Foodmart - Whitestone  153-65 Cross Island Pkwy
4         5  ABC Foodmart - Staten Island         2655 Richmond Ave

      store_city store_state store_zipcode  store_expense
0       Brooklyn          NY         11201         6500.0
1       New York          NY         10013        11000.0
2       Brooklyn          NY         11209         9000.0
3     Whitestone          NY         11357        18000.0
4  Staten Island          NY         10314        12000.0

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\331297968.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [17]:
employee_df.head()

,employee_id,store_id,position,salary,date_of_hire,first_name,last_name,manage_store_id,manager_id,schedule_id,day_of_week,shift_start,shift_end,vacation_id,vacation_start,vacation_end
0,1,5,Manager,46304.49,2023-03-25,Sean,Mr.,5,1.0,1,Sunday,1970-01-01 08:00:00,1970-01-01 21:00:00,1,2024-01-25,2024-02-04
1,2,1,Clerk,57527.14,2023-06-15,Foster,Jennifer,1,NaN,2,Saturday,1970-01-01 08:00:00,1970-01-01 15:00:00,2,2024-01-13,2024-01-21
2,3,1,Clerk,40121.59,2023-10-07,Shah,Amanda,1,NaN,3,Sunday,1970-01-01 08:00:00,1970-01-01 20:00:00,3,2024-01-27,2024-02-05
3,4,2,Manager,40140.68,2022-12-14,Garcia,Sarah,2,2.0,4,Thursday,1970-01-01 07:00:00,1970-01-01 19:00:00,4,2024-01-27,2024-01-29
4,5,1,Manager,38708.99,2022-08-17,Riley,Ashley,1,3.0,5,Saturday,1970-01-01 09:00:00,1970-01-01 13:00:00,5,2024-01-14,2024-01-25

In [19]:
cur = conn.cursor()

# INSERT statement for the Employees table
insert_employees = """
INSERT INTO Employees (store_id, position, salary, date_of_hire, first_name, last_name)
VALUES %s
ON CONFLICT (employee_id) DO NOTHING;
"""

# Prepare data for the Employees table
employee_data = list(employee_df[['store_id', 'position', 'salary', 'date_of_hire', 'first_name', 'last_name']].itertuples(index=False, name=None))

# Execute the insertion using execute_values
execute_values(cur, insert_employees, employee_data)

# Commit the transaction
conn.commit()

In [21]:
# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM Employees LIMIT 5;"
result2_df = sqlio.read_sql_query(sql_query, conn)

print(result2_df)

   employee_id  store_id position    salary date_of_hire first_name  last_name
0            1         5  Manager  46304.49   2023-03-25       Sean        Mr.
1            2         1    Clerk  57527.14   2023-06-15     Foster   Jennifer
2            3         1    Clerk  40121.59   2023-10-07       Shah     Amanda
3            4         2  Manager  40140.68   2022-12-14     Garcia      Sarah
4            5         1  Manager  38708.99   2022-08-17      Riley     Ashley

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\628869390.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result2_df = sqlio.read_sql_query(sql_query, conn)

In [73]:
import psycopg2
from psycopg2.extras import execute_values
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123")
cur = conn.cursor()

# Prepare data and log the out-of-range values
store_manager_data = []
out_of_range_values = []
for row in employee_df.itertuples(index=False):
    manage_store_id = min(row.manage_store_id, 9223372036854775807)
    manager_id = min(row.manager_id, 9223372036854775807)
    if row.manage_store_id > 9223372036854775807 or row.manager_id > 9223372036854775807:
        out_of_range_values.append((row.manage_store_id, row.manager_id))
    else:
        store_manager_data.append((manage_store_id, manager_id))

if out_of_range_values:
    print("Out of range values found:", out_of_range_values)

# SQL INSERT statement for the StoreManager table
insert_store_manager = """
INSERT INTO StoreManager (manage_store_id, manager_id)
VALUES %s
ON CONFLICT (manage_store_id, manager_id) DO NOTHING;
"""

# Execute data insertion with error handling and rollback
try:
    execute_values(cur, insert_store_manager, store_manager_data)
    conn.commit()
    print("Data insertion successful.")
except Exception as e:
    print("Error during data insertion:", str(e))
    conn.rollback()

# Use SQLAlchemy for database querying with pandas
engine = create_engine('postgresql://postgres:123@localhost:5432/sql_final_5310')
sql_query = "SELECT * FROM StoreManager LIMIT 5;"
try:
    store_manager_verification = pd.read_sql_query(sql_query, engine)
    print(store_manager_verification)
except Exception as e:
    print("Error querying data:", str(e))

# Close connection
cur.close()
conn.close()

Error during data insertion: integer out of range

   manage_store_id  manager_id
0                1           1
1                2           2

In [28]:
# Database connection parameters
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123")
cur = conn.cursor()
# SQL INSERT statement for EmployeeSchedule
insert_stmt = """
INSERT INTO EmployeeSchedule (employee_id, day_of_week, shift_start, shift_end)
VALUES %s
ON CONFLICT DO NOTHING;
"""

# Assuming employee_df already contains 'employee_id', 'day_of_week', 'shift_start', and 'shift_end' columns
# Prepare data from DataFrame for insertion
# Ensure to convert any time data to appropriate format if not already
employee_schedule_data = list(employee_df[['employee_id', 'day_of_week', 'shift_start', 'shift_end']].itertuples(index=False, name=None))

# Import the necessary function for bulk inserts
from psycopg2.extras import execute_values

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_stmt, employee_schedule_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM EmployeeSchedule LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   schedule_id  employee_id day_of_week shift_start shift_end
0            1            1      Sunday    08:00:00  21:00:00
1            2            2    Saturday    08:00:00  15:00:00
2            3            3      Sunday    08:00:00  20:00:00
3            4            4    Thursday    07:00:00  19:00:00
4            5            5    Saturday    09:00:00  13:00:00

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\2601378554.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [29]:
cur = conn.cursor()
# SQL INSERT statement for EmployeeVacation
insert_stmt = """
INSERT INTO EmployeeVacation (employee_id, vacation_start, vacation_end)
VALUES %s
ON CONFLICT DO NOTHING;
"""

# Prepare data from DataFrame for insertion
# This assumes 'employee_id', 'vacation_start', and 'vacation_end' are columns in employee_df
# Ensure that 'vacation_start' and 'vacation_end' are in a date format acceptable by PostgreSQL
employee_vacation_data = list(employee_df[['employee_id', 'vacation_start', 'vacation_end']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_stmt, employee_vacation_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM EmployeeVacation LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   vacation_id  employee_id vacation_start vacation_end
0            1            1     2024-01-25   2024-02-04
1            2            2     2024-01-13   2024-01-21
2            3            3     2024-01-27   2024-02-05
3            4            4     2024-01-27   2024-01-29
4            5            5     2024-01-14   2024-01-25

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\975647042.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [30]:
product_df.head()

,product_id,product_name,price,category_id,store_inventory_id,store_id,batch_id,vendor_id,vendor_name,delivery_id,purchase_id,quantity_received,Quantity,product_description,vendor_email,contact_phone,category,expiration_date,delivery_date
0,1,Water,54.72,1,1,5,1,1,"Wong, Mcdonald and Rodriguez",1,1,18,18,"High-quality beverages item, Water, sourced re...",elizabethdavis@example.com,001-386-290-9579x5940,beverages,2024-08-21,2024-06-09
1,2,Cough Syrup,4215.00,8,2,5,2,1,"Wong, Mcdonald and Rodriguez",2,2,100,100,"High-quality pharmacy item, Cough Syrup, sourc...",elizabethdavis@example.com,212.733.0371x1296,pharmacy,2025-02-27,2024-06-09
2,3,Beef Steak,6740.64,6,3,5,3,1,"Wong, Mcdonald and Rodriguez",3,3,93,93,"High-quality meats item, Beef Steak, sourced r...",elizabethdavis@example.com,+1-882-524-0914x221,meats,2024-11-24,2024-06-09
3,4,Tulips,7742.78,1,4,5,4,1,"Wong, Mcdonald and Rodriguez",4,4,94,94,"High-quality floral item, Tulips, sourced resp...",elizabethdavis@example.com,001-872-725-4195x538,floral,2025-05-22,2024-06-09
4,5,Lettuce,6537.52,4,5,5,5,1,"Wong, Mcdonald and Rodriguez",5,5,76,76,"High-quality fresh produce item, Lettuce, sour...",elizabethdavis@example.com,483.385.1911,fresh produce,2024-08-05,2024-06-09

In [32]:
cur = conn.cursor()
insert_categories = """
INSERT INTO Categories (category, product_description)
VALUES %s
ON CONFLICT DO NOTHING;
"""

# Prepare data from DataFrame for insertion
# This assumes 'category' and 'product_description' are columns in product_df
category_data = list(product_df[['category', 'product_description']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_categories, category_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM Categories LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   category_id       category  \
0            1      beverages
1            2       pharmacy
2            3          meats
3            4         floral
4            5  fresh produce

                                 product_description
0  High-quality beverages item, Water, sourced re...
1  High-quality pharmacy item, Cough Syrup, sourc...
2  High-quality meats item, Beef Steak, sourced r...
3  High-quality floral item, Tulips, sourced resp...
4  High-quality fresh produce item, Lettuce, sour...

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\1836737207.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [33]:
cur = conn.cursor()
# SQL INSERT statement for Products
insert_products = """
INSERT INTO Products (product_name, price, category_id)
VALUES %s
ON CONFLICT DO NOTHING;
"""

# Prepare data from DataFrame for insertion
# Ensure that the columns 'product_name', 'price', and 'category_id' exist in product_df
product_data = list(product_df[['product_name', 'price', 'category_id']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_products, product_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM Products LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   product_id product_name    price  category_id
0           1        Water    54.72            1
1           2  Cough Syrup  4215.00            8
2           3   Beef Steak  6740.64            6
3           4       Tulips  7742.78            1
4           5      Lettuce  6537.52            4

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\1831283631.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [36]:
cur = conn.cursor()

# SQL INSERT statement for StoreInventory
insert_store_inventory = """
INSERT INTO StoreInventory (product_id, store_id, Quantity)
VALUES %s
ON CONFLICT (store_inventory_id) DO NOTHING;
"""

# Prepare data from product_df for insertion
inventory_data = list(product_df[['product_id', 'store_id', 'Quantity']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_store_inventory, inventory_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM StoreInventory LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   store_inventory_id  product_id  store_id  quantity
0                   1           1         5        18
1                   2           2         5       100
2                   3           3         5        93
3                   4           4         5        94
4                   5           5         5        76

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\993906110.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [37]:
cur = conn.cursor()
# SQL INSERT statement for Expiration
insert_expiration = """
INSERT INTO Expiration (product_id, expiration_date)
VALUES %s
ON CONFLICT (batch_id) DO NOTHING;
"""

# Ensure product_df has 'expiration_date' if not, generate or merge it appropriately
# This is an example of generating random expiration dates if your dataframe lacks this information
if 'expiration_date' not in product_df.columns:
    product_df['expiration_date'] = pd.to_datetime(np.random.choice(pd.date_range(start=pd.Timestamp.today(), 
                                                                                  periods=100, 
                                                                                  freq='30D'), 
                                                                   size=len(product_df), 
                                                                   replace=True))

# Prepare data from product_df for insertion
expiration_data = list(product_df[['product_id', 'expiration_date']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_expiration, expiration_data)

# Commit the transaction to save changes
conn.commit()

# Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM Expiration LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   batch_id  product_id expiration_date
0         1           1      2024-08-21
1         2           2      2025-02-27
2         3           3      2024-11-24
3         4           4      2025-05-22
4         5           5      2024-08-05

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\2894952179.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [1]:
import psycopg2
import psycopg2.extras as extras
import pandas as pd

# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# Create the vender_name table
try:
    cur.execute("""
    CREATE TABLE IF NOT EXISTS vendor (
        vendor_id SERIAL PRIMARY KEY,
        vendor_name VARCHAR(255),
        contact_phone VARCHAR(15),
        vendor_email VARCHAR(255)
    );
    """)
    conn.commit()
    print("Table vender_name created successfully.")
except Exception as e:
    print("An error occurred while creating the table:", e)
    conn.rollback()

# Continue with the rest of your code to insert data...

import psycopg2
import psycopg2.extras as extras
import pandas as pd

# Load the CSV data into a DataFrame
product_df = pd.read_csv('products_final.csv')

# Ensure the vendor_id in the DataFrame is an integer
product_df['vendor_id'] = product_df['vendor_id'].astype(int)

# Truncate contact_phone to fit the VARCHAR(15) column
product_df['contact_phone'] = product_df['contact_phone'].astype(str).str[:15]

# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# SQL INSERT statement using 'vender_name' as the table name
insert_venders = """
INSERT INTO vendor (vendor_id, vendor_name, contact_phone, vendor_email)
VALUES %s
ON CONFLICT (vendor_id) DO NOTHING;
"""

# Prepare the data for insertion
# Assuming your CSV has the columns vendor_id, vendor_name, contact_phone, vendor_email
vender_data = list(product_df[['vendor_id', 'vendor_name', 'contact_phone', 'vendor_email']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
try:
    extras.execute_values(cur, insert_venders, vender_data, page_size=100)
    conn.commit()
    print("Data inserted successfully into vender_name table.")
except Exception as e:
    print("An error occurred during the insert operation:", e)
    conn.rollback()
finally:
    cur.close()
    conn.close()

Table vender_name created successfully.
Data inserted successfully into vender_name table.

In [2]:
# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()
sql_query = "SELECT * FROM vendor LIMIT 5;"
result_df = pd.read_sql_query(sql_query, conn)
conn.commit()
print(result_df)

   vendor_id                   vendor_name    contact_phone  \
0          1  Wong, Mcdonald and Rodriguez       2428920394
1          2               Hamilton-Burton     995.765.6354
2          3                  Cardenas Ltd  (335)883-8555x9
3          4                  Matthews LLC  (495)234-8711x4
4          5   Hamilton, Briggs and Nguyen  +1-769-337-3950

                 vendor_email
0  elizabethdavis@example.com
1     scottedward@example.net
2     robinmoreno@example.com
3  guerreroconnie@example.net
4     herringeric@example.org

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_26260\2629763433.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql_query(sql_query, conn)

In [41]:
cur = conn.cursor()

# SQL INSERT statement for the VendorDelivery table
insert_vendor_delivery = """
INSERT INTO VendorDelivery (vendor_id, product_id, quantity_received, delivery_date)
VALUES %s
ON CONFLICT (delivery_id) DO NOTHING;
"""

# Prepare data from product_df for insertion
# This assumes you have columns in product_df named 'vendor_id', 'product_id', 'quantity_received', 'delivery_date'
# You might need to modify the DataFrame beforehand to ensure these columns exist and are filled with appropriate values
vendor_delivery_data = list(product_df[['vendor_id', 'product_id', 'quantity_received', 'delivery_date']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_vendor_delivery, vendor_delivery_data)

# Commit the transaction to save changes
conn.commit()

# Optional: Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM VendorDelivery LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   delivery_id  vendor_id  product_id  quantity_received delivery_date
0            1          1           1                 18    2024-06-09
1            2          1           2                100    2024-06-09
2            3          1           3                 93    2024-06-09
3            4          1           4                 94    2024-06-09
4            5          1           5                 76    2024-06-09

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\1775319928.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [42]:

cur = conn.cursor()

# SQL INSERT statement for the WholesaleTransactions table
insert_wholesale_transactions = """
INSERT INTO WholesaleTransactions (vendor_id, product_id, quantity_received, delivery_date, price)
VALUES %s
ON CONFLICT (purchase_id) DO NOTHING;
"""

# Prepare data from product_df for insertion
# This assumes you have columns in product_df named 'vendor_id', 'product_id', 'quantity_received', 'delivery_date', and 'price'
# You might need to modify the DataFrame beforehand to ensure these columns exist and are filled with appropriate values
wholesale_transactions_data = list(product_df[['vendor_id', 'product_id', 'quantity_received', 'delivery_date', 'price']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
execute_values(cur, insert_wholesale_transactions, wholesale_transactions_data)

# Commit the transaction to save changes
conn.commit()

# Optional: Execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM WholesaleTransactions LIMIT 5;"
result_df = sqlio.read_sql_query(sql_query, conn)

print(result_df)

   purchase_id  vendor_id  product_id  quantity_received delivery_date  \
0            1          1           1                 18    2024-06-09
1            2          1           2                100    2024-06-09
2            3          1           3                 93    2024-06-09
3            4          1           4                 94    2024-06-09
4            5          1           5                 76    2024-06-09

     price
0    54.72
1  4215.00
2  6740.64
3  7742.78
4  6537.52

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\1321231400.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = sqlio.read_sql_query(sql_query, conn)

In [43]:
customer_df.head()

,customer_id,FirstName,LastName,customer_email,Contact_phone,sale_id,product_id,quantity,sale_date,total_price,store_id,discount_id,promotion_price,start_date,end_date,feedback_id,feedback_text,feedback_date
0,1,Kathy,Jones,ucook@example.net,+1-746-814-0181,1,25,6,2023-07-14 00:17,934.92,3,5165,31.74,2023-03-07,2026-03-05,6815,Yeah seven enjoy drug.,2023-09-05
1,1,Kathy,Jones,ucook@example.net,773-305-1793x1421,1,14,10,2023-07-14 00:17,1476.20,3,5299,22.46,2024-04-02,2025-07-29,6050,Have pick race front religious rich recognize.,2024-01-20
2,1,Kathy,Jones,ucook@example.net,237.365.9109,1,20,10,2023-07-14 00:17,261.30,3,3554,7.41,2023-03-28,2025-06-10,3066,Stand never nearly issue.,2023-12-03
3,1,Kathy,Jones,ucook@example.net,(386)306-0791,1,2,8,2023-07-14 00:17,424.64,3,4706,25.23,2023-03-26,2025-10-21,3035,Partner task late what.,2023-10-27
4,1,Kathy,Jones,ucook@example.net,001-345-965-2728,1,5,8,2023-07-14 00:17,670.64,3,2392,13.73,2022-09-16,2024-10-05,5065,Theory unit arrive show money whatever laugh.,2023-07-29

In [6]:
import psycopg2
import psycopg2.extras as extras
import pandas as pd

# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# Create the vender_name table
try:
    cur.execute("""
   CREATE TABLE Customers (
    customer_id SERIAL PRIMARY KEY,
    FirstName VARCHAR(100) NOT NULL,
    LastName VARCHAR(100) NOT NULL,
    customer_email VARCHAR(100),
    Contact_phone VARCHAR(15)
    );
    """)
    conn.commit()
    print("Table customer_name created successfully.")
except Exception as e:
    print("An error occurred while creating the table:", e)
    conn.rollback()

# Continue with the rest of your code to insert data...

import psycopg2
import psycopg2.extras as extras
import pandas as pd

# Load the CSV data into a DataFrame
customer_df = pd.read_csv('customers_sales_final.csv')

# Ensure the vendor_id in the DataFrame is an integer
customer_df['customer_id'] = customer_df['customer_id'].astype(int)

# Truncate contact_phone to fit the VARCHAR(15) column
customer_df['Contact_phone'] = customer_df['Contact_phone'].astype(str).str[:15]

# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# SQL INSERT statement using 'vender_name' as the table name
insert_venders = """
INSERT INTO customer_name (customer_id, FirstName, LastName, customer_email, Contact_phone)
VALUES %s
ON CONFLICT (customer_id) DO NOTHING;
"""

# Prepare the data for insertion
# Assuming your CSV has the columns vendor_id, vendor_name, contact_phone, vendor_email
customer_data = list(customer_df[['customer_id', 'FirstName', 'LastName','customer_email', 'Contact_phone']].itertuples(index=False, name=None))

# Execute the query using execute_values for efficient bulk inserts
try:
    extras.execute_values(cur, insert_customers, customer_data, page_size=100)
    conn.commit()
    print("Data inserted successfully into vender_name table.")
except Exception as e:
    print("An error occurred during the insert operation:", e)
    conn.rollback()
finally:
    cur.close()
    conn.close()

An error occurred while creating the table: relation "customers" already exists

An error occurred during the insert operation: name 'insert_customers' is not defined

In [13]:
import psycopg2
import psycopg2.extras as extras
import pandas as pd

# Establish the connection to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# Create the RetailSales table
cur.execute("""
CREATE TABLE IF NOT EXISTS RetailSales (
    sale_id SERIAL PRIMARY KEY,
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    sale_date DATE,
    total_price NUMERIC(10, 2) NOT NULL,
    store_id INT,
    customer_id INT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (store_id) REFERENCES Stores(store_id)
);
""")
conn.commit()

# SQL INSERT statement for the RetailSales table
insert_retail_sales = """
INSERT INTO RetailSales (product_id, quantity, sale_date, total_price, store_id, customer_id)
VALUES %s
ON CONFLICT (sale_id) DO NOTHING;
"""

# Prepare data for insertion
# Assuming 'customer_df' is already loaded and includes the necessary columns
retail_sales_data = [(row.product_id, row.quantity, row.sale_date, row.total_price, row.store_id, row.customer_id) for index, row in customer_df.iterrows()]

# Execute the query using execute_values for efficient bulk inserts
extras.execute_values(cur, insert_retail_sales, retail_sales_data)

# Commit the transaction to save changes
conn.commit()
print("Retail sales data inserted successfully.")

# Optionally, execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM RetailSales LIMIT 5;"
result_df = pd.read_sql_query(sql_query, conn)
print(result_df)

# Close the cursor and connection
cur.close()
conn.close()

Retail sales data inserted successfully.
   sale_id  product_id  quantity   sale_date  total_price  store_id  \
0        1          25         6  2023-07-14       934.92         3
1        2          14        10  2023-07-14      1476.20         3
2        3          20        10  2023-07-14       261.30         3
3        4           2         8  2023-07-14       424.64         3
4        5           5         8  2023-07-14       670.64         3

   customer_id
0            1
1            1
2            1
3            1
4            1

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_26260\3997881767.py:52: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql_query(sql_query, conn)

In [58]:
    cur = conn.cursor()

    # SQL INSERT statement for the Discounts table
    insert_discounts = """
    INSERT INTO Discounts (promotion_price, start_date, end_date, product_id)
    VALUES %s
    ON CONFLICT (discount_id) DO NOTHING;
    """

    # Prepare data for insertion
    discounts_data = [
        (row['promotion_price'], row['start_date'], row['end_date'], row['product_id'])
        for index, row in customer_df.iterrows()
    ]

    # The execute_values function manages the formatting of the tuples into the SQL statement
    extras.execute_values(cur, insert_discounts, discounts_data, template=None, page_size=100)

    # Commit the transaction to save changes
    conn.commit()
    print("Discounts data inserted successfully.")

    # Optionally, execute a SQL query to verify the inserted data
    sql_query = "SELECT * FROM Discounts LIMIT 5;"
    result_df = pd.read_sql_query(sql_query, conn)
    print(result_df)

Discounts data inserted successfully.
   discount_id  promotion_price  start_date    end_date  product_id
0            1            31.74  2023-03-07  2026-03-05          25
1            2            22.46  2024-04-02  2025-07-29          14
2            3             7.41  2023-03-28  2025-06-10          20
3            4            25.23  2023-03-26  2025-10-21           2
4            5            13.73  2022-09-16  2024-10-05           5

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\1093490420.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql_query(sql_query, conn)

In [68]:
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123")

cur = conn.cursor()

insert_customer_feedback = """
INSERT INTO CustomerFeedback (customer_id, feedback_text, feedback_date, store_id)
VALUES %s
ON CONFLICT (feedback_id) DO NOTHING;
"""

feedback_data = [
(int(row['customer_id']), str(row['feedback_text']), row['feedback_date'], int(row['store_id']))
for index, row in customer_df.iterrows()
]

    # Execute the query using execute_values for efficient bulk inserts
extras.execute_values(cur, insert_customer_feedback, feedback_data)

    # Commit the transaction to save changes
conn.commit()
print("Customer feedback data inserted successfully.")

    # Optionally, execute a SQL query to verify the inserted data
sql_query = "SELECT * FROM CustomerFeedback LIMIT 5;"
result_df = pd.read_sql_query(sql_query, conn)
print(result_df)

Customer feedback data inserted successfully.
   feedback_id  customer_id                                   feedback_text  \
0            1            1                          Yeah seven enjoy drug.
1            2            1  Have pick race front religious rich recognize.
2            3            1                       Stand never nearly issue.
3            4            1                         Partner task late what.
4            5            1   Theory unit arrive show money whatever laugh.

  feedback_date  store_id
0    2023-09-05         3
1    2024-01-20         3
2    2023-12-03         3
3    2023-10-27         3
4    2023-07-29         3

C:\Users\David-Yang\AppData\Local\Temp\ipykernel_13060\3322918070.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql_query(sql_query, conn)

In [12]:
import psycopg2

# for drop table
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="sql_final_5310",
    user="postgres",
    password="123"
)
cur = conn.cursor()

# SQL command to drop the vender_name table with CASCADE to drop all dependent objects
drop_table_query = "DROP TABLE IF RetailSales EXISTS CASCADE;"

try:
    # Execute the drop table command
    cur.execute(drop_table_query)
    # Commit the changes
    conn.commit()
    print("RetailSales e table and all dependent objects dropped successfully.")
except Exception as e:
    # An error occurred, print the error and rollback any changes
    print("An error occurred while dropping the table:", e)
    conn.rollback()
finally:
    # Close the cursor and connection
    cur.close()
    conn.close()

An error occurred while dropping the table: syntax error at or near "RetailSales"
LINE 1: DROP TABLE IF RetailSales EXISTS CASCADE;
                      ^